<link rel="stylesheet" href="../styles.css/styles.css">
<head>
    <title>Mi CV</title>
</head>
<header class="header">
    <img class="batman" src="../img/bat.png" alt="foto">
    <h1 class="encabezado">curriculum vitae de ivan poggio</h1>
</header>
<body>
    <section>
        <h2 class="subtitulo">Datos Personales</h3>
            <ul>
                <li class="item">Nombre Completo:
                    <span>Ivan Pablo Poggio</span>
                </li>
                <li class="item">Fecha De Nacimiento:
                    <span>11/11/2002</span>
                </li>
                <li class="item">Lugar De Nacimiento:
                    <span>Argentina, CABA</span>
                </li>
            </ul>
    </section>
    <section>
        <h2 class="subtitulo"> formacion academica</h3>
            <dl>
                <dt>feb.2023-Presente</dt>
                    <dd>Certified tech Developer</dd>
            </dl>
            <dl>
                <dt> mar.2021-dic.2022</dt>
                <dd>Licenciatura en gastronomia</dd>
            </dl>
            <dl>
                <dt>2015-2020</dt>
                    <dd>Bachiller en economia y administracion de empresas</dd>
                    <dd>Instituto Evangelico Americano</dd>
            </dl>
    </section>
    <section>
        <h2 class="subtitulo">experencia laboral</h3>
            <dl>
                <dt>may.2022-dic.2022</dt>
                    <dd>DRAMS Devoto</dd>
                    <dd>Estuve a cargo de la producción de comida para eventos de
                        concurrencia alta, a la vez que trabajando atrás de la barra,
                        atendiendo en la parte de coctelería, tomando pedidos y haciendo
                        cocktails</dd>
            </dl>
    </section>
    <footer>
        
        <p class="footer">1159238654</p>
        <a href="https://www.instagram.com/ivan_poggio1/" target="_blank"><img class="logo1" src="/img/IG logo.png" alt="IG"></a><a href="https://www.linkedin.com/in/ivan-poggio-b88459220/" target="_blank"> <img class="logo2" src="/img/a9027b754d4f784f66a033d7a59c8408.png" alt="linkedin"></a>
    </footer>
    </body>
</html>
